@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@media screen and (max-width: 1370px) {
  body header .header__container .header__container--menu {
    margin-left: 380px;
  }
}
@media screen and (max-width: 970px) {
  body header .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body header .header__container .header__container--menu {
    margin-left: 0;
  }
  body header .header__container .header__container--line {
    border: 1px solid rgb(161, 161, 161);
    opacity: 0.3;
  }
  body header .header__container .header__container--info .header__container--title {
    padding: 0 20px;
  }
}
@media screen and (max-width: 610px) {
  body header .header__container {
    height: 700px;
  }
  body header .header__container .header__container--menu {
    display: grid;
    grid-template-areas: "erste zweite dreitte" "vierte . fünfte";
    gap: 0px;
    height: 100px;
  }
  body header .header__container .header__container--menu .header__container--link {
    font-size: 15px;
    padding: 0 10px;
  }
  body header .header__container .header__container--menu .header__container--link::after {
    animation: none;
  }
  body header .header__container .header__container--menu .header__container--link:hover::after {
    animation: none;
  }
  body header .header__container .header__container--menu .erste {
    grid-area: erste;
  }
  body header .header__container .header__container--menu .zweite {
    grid-area: zweite;
  }
  body header .header__container .header__container--menu .dreitte {
    grid-area: dreitte;
  }
  body header .header__container .header__container--menu .vierte {
    grid-area: vierte;
  }
  body header .header__container .header__container--menu .fünfte {
    grid-area: fünfte;
  }
  body header .header__container .header__container--info {
    margin-bottom: 100px;
    margin-top: 150px;
  }
  body header .header__container .header__container--info .header__container--title {
    font-size: 28px;
    line-height: 35.5px;
  }
  body header .header__container .header__container--info .header__container--btn {
    font-size: 14px;
  }
}
@media screen and (max-width: 720px) {
  body .second_section .container .second_section--cards {
    grid-template-areas: "first second" "third third";
  }
  body .second_section .container .second_section--cards .card:last-child {
    justify-content: center;
    margin-top: 15px;
  }
}
@media screen and (max-width: 620px) {
  body .second_section .container .second_section--cards {
    grid-template-areas: "first" "second" "third";
    justify-content: center;
    padding: 0 10px;
  }
  body .second_section .container .card:not(:last-child) {
    margin-bottom: 25px;
  }
  body .second_section .container .card img {
    width: 85px;
    height: 82px;
  }
}
@media screen and (max-width: 590px) {
  .second_section .container .section_text--block .second_section--title {
    font-size: 25px;
  }
  .second_section .container .section_text--block .second_section--text {
    font-size: 13px;
  }
}
@media screen and (max-width: 800px) {
  .third_section .container .rigth_div--photo {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 600px) {
  main .third_section .container .first-line {
    display: flex;
    flex-direction: column;
  }
  main .third_section .container .first-line .mobile_left-div {
    display: block;
    text-align: center;
  }
  main .third_section .container .first-line .right-div {
    display: none !important;
  }
  main .third_section .container .first-line .left-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .third_section .bottom-divs {
    display: grid;
    justify-content: center;
    gap: 25px;
    grid-template-areas: "first second" "third forth";
  }
  main .third_section .bottom-divs .first {
    grid-area: first;
  }
  main .third_section .bottom-divs .second {
    grid-area: second;
  }
  main .third_section .bottom-divs .third {
    grid-area: third;
  }
  main .third_section .bottom-divs .forth {
    grid-area: forth;
  }
  main .third_section .bottom-divs .fifth {
    display: none;
  }
}
@media screen and (max-width: 327px) {
  .third_section .container .rigth_div--photo {
    width: 250px;
    height: 250px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .header__container {
  background-image: url("../img/background1.jpg");
  background-repeat: no-repeat;
  height: 900px;
}
header .header__container .header__container--menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  align-items: center;
  height: 100px;
  max-width: 900px;
  margin-left: 780px;
}
header .header__container .header__container--menu .header__container--item {
  list-style: none;
}
header .header__container .header__container--menu .header__container--link {
  text-decoration: none;
  color: white;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;
  position: relative;
}
header .header__container .header__container--menu .header__container--link::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 57px;
  left: -20px;
  padding: 0 20px;
  transform: scaleX(0);
  /* transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1); */
  border: 1px solid rgb(255, 255, 255);
  animation: menu-linkst 350ms ease 0ms forwards;
}
header .header__container .header__container--menu .header__container--link:hover::after {
  animation: menu-links 350ms ease 0ms forwards;
}
@keyframes menu-links {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes menu-linkst {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
header .header__container .header__container--line {
  border: 1px solid rgb(161, 161, 161);
  opacity: 0.3;
}
header .header__container .header__container--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 220px;
}
header .header__container .header__container--info .header__container--text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: center;
}
header .header__container .header__container--info .header__container--title {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 800;
  line-height: 64.36px;
  text-align: center;
  max-width: 830px;
  margin: 20px 0 50px 0;
}
header .header__container .header__container--info .header__container--btn {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: rgb(73, 133, 255);
  padding: 14px 36px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
}

.second_section {
  margin-top: 110px;
}
.second_section .container {
  width: 100%;
  max-width: 1113px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.second_section .container .section_text--block {
  display: flex;
  flex-direction: column;
  max-width: 739px;
  margin: 0 auto;
  padding: 0 15px;
}
.second_section .container .second_section--title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 52.66px;
  text-align: center;
  max-width: 739px;
  margin-bottom: 32px;
}
.second_section .container .second_section--text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.36px;
  text-align: center;
  max-width: 730px;
  color: #999999;
  margin-bottom: 70px;
}
.second_section .container .second_section--cards {
  display: grid;
  grid-template-areas: "first second third";
  justify-content: space-between;
  margin-bottom: 55px;
}
.second_section .container .card:first-child {
  grid-area: first;
}
.second_section .container .card:nth-child(2) {
  grid-area: second;
}
.second_section .container .card:last-child {
  grid-area: third;
}
.second_section .container .card {
  display: flex;
}
.second_section .container .card_text--block {
  display: flex;
  flex-direction: column;
  padding-top: 46px;
  margin-left: 13px;
}
.second_section .container .card_title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: left;
}
.second_section .container .card_text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.19px;
  text-align: left;
  color: #999999;
  max-width: 205px;
  margin-top: 12px;
}
.second_section .container .second_section--link {
  display: grid;
  justify-content: center;
}
.second_section .container .second_section--link .second_section--btn {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: center;
  background-color: #4985FF;
  color: white;
  padding: 13px 36px 15px 36px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.5s;
}
.second_section .container .second_section--link .second_section--btn:hover {
  color: white;
  background-color: #7ea9ff;
  transition: 0.5s;
}

.third_section {
  margin-top: 105px;
}
.third_section .container {
  display: flex;
  justify-content: space-between;
  max-width: 1113px;
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 20px;
  flex-direction: column;
}
.third_section .third_section {
  margin-top: 100px;
}
.third_section .first-line {
  display: flex;
  justify-content: space-between;
}
.third_section .left-div {
  padding-bottom: 90px;
}
.third_section .left-div .title {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 52.66px;
  text-align: left;
  color: #323232;
  margin-bottom: 60px;
  max-width: 424px;
}
.third_section .left-div .subtitle {
  color: gray;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 25.36px;
  text-align: left;
  margin-bottom: 50px;
  max-width: 489px;
}
.third_section .left-div .link {
  color: #4985FF;
  text-decoration: none;
  border-bottom: 0.5px solid #4985FF;
}
.third_section .title h2 {
  padding-top: 52px;
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 800;
  line-height: 52.66px;
  text-align: left;
}
.third_section .right-div img {
  border-radius: 15px;
  width: 500px;
  height: 400px;
}
.third_section .divider {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  margin: 20px 0;
}
.third_section .bottom-divs {
  display: flex;
  justify-content: space-between;
  max-width: 920px;
  margin: 0 auto;
}
.third_section .bottom-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.third_section .bottom-div .number {
  font-size: 24px;
  margin-right: 5px;
  font-family: "Montserrat";
}
.third_section .bottom-div .small-text {
  font-size: 12px;
  color: #999999;
  margin-top: 5px;
  font-family: "Montserrat";
}
.third_section .bottom-div img {
  width: 20px;
  height: 20px;
}
.third_section .photo-icon {
  display: flex;
}
.third_section .icon {
  display: flex;
  align-items: center;
  margin-right: 13px;
}
.third_section .mobile_left-div {
  display: none;
}