@media screen and (max-width: 1370px) {
    body {

        header {

            .header__container {
    
                .header__container--menu {
                    margin-left: 380px;
                }
            }
        }
    }
    
}
@media screen and (max-width: 970px) {
    body {

        header {

            .header__container {
                display: flex;
                flex-direction: column; 
                align-items: center;
                .header__container--menu {
                    margin-left: 0;
                }
                .header__container--line {
                    border: 1px solid rgba(161, 161, 161, 1);
                    opacity: 0.3;
                }
                .header__container--info {

                    .header__container--title {
                        padding: 0 20px;
                    }
                }
            }
        }
    }
    
}
@media screen and (max-width: 610px) {
    body {

        header {

            .header__container {
                height: 700px;
                .header__container--menu {
                    display: grid;
                    grid-template-areas:
                    "erste zweite dreitte" 
                    "vierte . fünfte";
                    gap: 0px;
                    height: 100px;
                    .header__container--link {
                        font-size: 15px;
                        padding: 0 10px;
                    }
                    .header__container--link::after {
                        animation: none;
                    }
                    .header__container--link:hover::after {
                        animation: none;
                    }
                    .erste {
                        grid-area: erste;
                    }
                    .zweite {
                        grid-area: zweite;
                    }
                    .dreitte {
                        grid-area: dreitte;
                    }
                    .vierte {
                        grid-area: vierte;
                    }
                    .fünfte {
                        grid-area: fünfte;
                    }
                }
                .header__container--info {
                    margin-bottom: 100px;
                    margin-top: 150px;
                    .header__container--title {
                        font-size: 28px;
                        line-height: 35.5px;
                    }
                    .header__container--btn {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    
}



//second section
@media screen and (max-width: 720px) {
    body{
        .second_section{
            .container{
                .second_section--cards{
                    grid-template-areas: "first second"
                                         "third third";

                 .card:last-child {
                    justify-content: center;
                    margin-top: 15px;
                 }
                }
            }
        }
    } 
    
}
@media screen and (max-width: 620px) {
    body{
        .second_section{
            .container{
                .second_section--cards{
                    grid-template-areas: "first"
                                        "second"
                                         "third";
                    justify-content: center;
                    padding: 0 10px;
                }
                .card:not(:last-child){
                    margin-bottom: 25px;
                }
                .card img{
                    width: 85px;
                    height: 82px;
                }
            }
        }
    } 
    
}

@media screen and (max-width: 590px){
    .second_section{
        .container{
            .section_text--block{
                .second_section--title{
                    font-size: 25px;
                }
                .second_section--text{
                        font-size: 13px;
                }
            }
        }
    }
    
}


//third section

@media screen and (max-width: 800px) {
    .third_section {
        .container {
            .rigth_div--photo {
              width: 290px;
              height: 300px;
            }
          }
        
    }
}
    
  
  @media screen and (max-width: 600px) {
    main{
        .third_section {
            & .container {
              & .first-line {
                display: flex;
                flex-direction: column;
        
                & .mobile_left-div {
                  display: block;
                  text-align: center;
                }
        
                & .right-div {
                  display: none !important;
                }
        
                & .left-div {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                }
              }
            }
        
            .bottom-divs {
              display: grid;
              justify-content: center;
              gap: 25px;
              grid-template-areas: "first second"
                                        "third forth";
        
              & .first {
                grid-area: first;
              }
        
              & .second {
                grid-area: second;
              }
        
              & .third {
                grid-area: third;
              }
        
              & .forth {
                grid-area: forth;
              }
        
              & .fifth {
                display: none;
              }
            }
          }
    }
    
  }
  
  @media screen and (max-width: 327px) {
    .third_section{
        .container {
            .rigth_div--photo {
              width: 250px;
              height: 250px;
            }
          }
    }
      
  }

  @media screen and (max-width: 1066px) {
    .fourth_section {
     
      .fourth_container {
        max-width: 805px;
  
        .fourth_title {
          font-size: 30px;
        }
  
        .fourth_item img {
          max-width: 250px;
        }
  
        .fourth_title--team {
          font-size: 15px;
        }
  
        .fourth_text {
          font-size: 14px;
        }
  
        .fourth_text {
          max-width: 250px;
        }
  
        .fourth_link {
          font-size: 14px;
        }
      }
    }
  }
  
  @media screen and (max-width: 800px) {
      .fourth_section {
        &::before {
          height: 25% !important;
        }
          .fourth_container {
              max-width: 550px;
  
              .fourth_title {
                  font-size: 25px;
              }
  
              .fourth_btn {
                  width: 150px;
              }
  
              .fourth_item {
                  grid-template-areas: "first second"
                                        "third third";
                  display: grid;
                  
                  .fourth_card {
                      justify-self: center;
                      &:last-child{
                        margin-top: 50px;
                      }
                  }
              }
          }
      }
  }
  @media screen and (max-width: 520px) {
    .fourth_section {
        .fourth_container {
            max-width: 390px;
  
            .fourth_title {
                font-size: 20px;
            }
           
            .fourth_btn {
                width: 100px;
            }
            .first_card, .second_card, .third_card{
              padding-bottom: 40px;
            }
            .fourth_item {
                grid-template-areas: "first"
                                      "second"
                                      "third";
                display: grid;
                justify-content: center;
  
                .fourth_card {
                  &:last-child{
                    margin-top: 50px;
                    margin-top: 0;
                  }
              }
              }
         }
  }
  }
  @media screen and (max-width: 390px) {
    .fourth_section {
        .fourth_container {
            max-width: 280px;
          .fourth_header{
            align-items: center;
          }
            .fourth_title {
                font-size: 17px;
                display: none;
            }
            .mobile{
              display: flex;
            }
            .fourth_btn {
                width: 100px;
            }
            .btn{
              padding: 0;
            }
            
          }
        }
      }

// fifth__section sixth__section footer 

@media screen and (max-width: 1130px) {
  .sixth__section--line {
      max-width: 810px !important;
  }
  footer {

      .footer__container--infos {
          width: 160px !important;
      }
      .footer__container--line {
          max-width: 810px !important; 
      }
  }
}
@media screen and (max-width: 1038px) {
  .fifth__section {

      .fifth__section--container {
          display: flex;
          justify-content: center;
          align-items: center;
          
          .fifth__section--photoblock {
             display: grid;
             grid-template-areas: "erste zweite" 
                                  "dreitte vierte";
              gap: 50px   ;
         }
     }
  }
  .sixth__section {
      // margin-bottom: 150px;
      // padding-bottom: 150px;
      .sixth__section--container {
          margin-bottom: 150px;
      }
      .sixth__section--text {
          padding-bottom: 250px;
      }
      .sixth__section--videoblock {
          height: 330px;
          width: 570px;
          border-radius: 5%;
          // padding-bottom: 30px;
          top: 230px;
      }
      .sixth__section--button {
          top: 110px;
          left: 145px;
      }
  } 
}   
@media screen and (max-width: 835px) {
  .sixtfifth__section--line {
      max-width: 410px !important;
  }
  footer {

      .footer__container {
          
          .footer__container--nav {
              height: 713px;
              
          }
          .footer__container--navs {
              margin-top: 50px;
              justify-content: center;
              // align-items: center;
              flex-direction: column;
              display: grid;
                 grid-template-areas: "erste zweite" 
                                      "dreitte vierte";
                  gap: 50px   ;
          }
          .erste {
              grid-area: erste;
          }
          .zweite {
              grid-area: zweite;
          }
          .dreitte {
              grid-area: dreitte;
          }
          .vierte {
              grid-area: vierte;
          }
          .footer__container--line {
              max-width: 410px !important; 
          }
      }
    
  }
}
@media screen and (max-width: 590px) {

  .fifth__section {

      .fifth__section--container {
          display: flex;
          justify-content: center;
          align-items: center;
          .fifth__section--photoblock {
             display: grid;
             grid-template-areas: "erste"
                                  "zweite" 
                                  "dreitte"
                                  "vierte" ;
              gap: 50px   ;       
         }
     }
  }
  .sixth__section {
      // margin-bottom: 150px;
      .sixth__section--container {
          padding-bottom:  100px;
      }
      .sixth__section--text {
          padding: 0 20px;
          margin-bottom: 30px !important;
      }
      .sixth__section--videoblock {
          // height: 230px;
          // width: 300px;
          // border-radius: 5%;
          display: none;
      }
      .sixth__section--button {
          position: absolute;
          top: 80px;
          left: 50px;
      }
      .sixth__section--img {
          width: 200px;
          height: 70px;
      }
      .sixth__section--btnvideo {
          display: flex;
          // margin-bottom: 40px;
          padding-bottom: 20px;

          a {
              font-family: Montserrat;
              font-size: 16px;
              font-weight: 500;
              line-height: 19.5px;
              text-align: center;
              padding: 13px 36px;
              background-color: #4985FF;
              border-radius: 30px;
              box-shadow: 0px 0px 10px 0px #6F6F6F40;
              color: white;
              text-decoration: none;
          }
      }
  }
  footer {

      .footer__container {
          

          .footer__container--nav {
              height: 1165px;
          }
          .footer__container--navs {
              margin-top: 50px;
              justify-content: center;
              flex-direction: column;
              display: grid;
                 grid-template-areas: "erste" 
                                      "zweite" 
                                      "dreitte" 
                                      "vierte" ;
                  gap: 50px   ;
          }
          .footer__container--infos {
              width: 245px !important;
          }
          .erste {
              grid-area: erste;
          }
          .zweite {
              grid-area: zweite;
          }
          .dreitte {
              grid-area: dreitte;
          }
          .vierte {
              grid-area: vierte;
          }
          .footer__container--title1 {
              padding: 0 20px;
          }
          .footer__container--text {
              padding: 0 20px;
          }
          .footer__container--text2 {
              padding: 0 20px;
          }
          .footer__container--form {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 20px;
          }
          .footer__container--input {
              width: 240px;
              height: 45px;
              gap: 0px;
              border-radius: 30px;
              border: 1px 0px 0px 0px;
              opacity: 0px;
              box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
              border: 1px solid rgba(242, 242, 242, 1);
              padding-left: 33px;
          }
          .footer__container--btn {
              border-radius: 30px;
          }
      }
  }
}
